{% set block_attribute = create_attribute() %}
{%
    set block_classes = [
        is_front ? 'text-color-white' : 'text-color-black',
    ]
%}
<div class="call-block">
    <i {{ block_attribute.addClass(block_classes).addClass('fleur-font-icon-24-call-primary') }} ></i>
    <div class="popuptext" id="call-block-popup">
        <div>+27 21 421 8258</div>
        <div>Request a call back</div>
    </div>
</div>
<div{{ attributes}}>
  <div class="cart-block--summary">
    <a class="cart-block--link__expand" href="{{ url }}">
      {% if is_front %}
        {% if count == 0 %}
          <span class="cart-block--summary__icon fleur-icon-cart-white"></span>
        {% else %}
          <span class="cart-block--summary__icon fleur-icon-cart-white-full"></span>
        {% endif %}
      {% else %}
        {% if count == 0 %}
          <span class="cart-block--summary__icon fleur-icon-cart-black"></span>
        {% else %}
          <span class="cart-block--summary__icon fleur-icon-cart-black-full"></span>
        {% endif %}
      {% endif %}
    </a>
  </div>
  {% if content %}
  <div class="cart-block--contents">
    <div class="cart-block--contents__inner">
      <div class="cart-block--contents__items">
        {{ content }}
      </div>
      <div class="cart-block--contents__links">
        {{ links }}
      </div>
    </div>
  </div>
  {% endif %}
</div>
<div class="mobile_toggle">
    <i {{ block_attribute.addClass(block_classes).removeClass('fleur-font-icon-24-call-primary').addClass('fleur-font-icon-24-burger-primary') }} ></i>
</div>
