{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<a{{ attributes }} href="{{ product_url }}">
  {{ product.field_images.0 }}
  <div class="product-info">
    {{ product.title }}
    {{ product.variation_price }}
  </div>
</a>
<a href="{{ product_url }}" class="cart-button edit-button use-ajax fleur-icon-cart-white" data-dialog-type="modal">Cart</a>
{{ attach_library('core/drupal.ajax') }}
