{#
/**
 * @file
 * Template for the order placed.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - address: The address information.
 *
 * @ingroup themeable
 */
#}
<table style="margin: 15px auto 0 auto; max-width: 768px; font-family: arial,sans-serif">
  <tbody>
  <tr>
    <td>
      <table style="margin-left: auto; margin-right: auto; max-width: 768px; text-align: center;">
        <tbody>
        <tr>
          <td>
            <a href="{{ url('<front>') }}" style="color: #0e69be; text-decoration: none; font-weight: bold; margin-top: 15px;">{{ order_entity.getStore.label }}</a>
          </td>
        </tr>
        </tbody>
      </table>
      <table style="text-align: left; min-width: 450px; margin: 5px auto 0 auto; border: 1px solid #cccccc; border-radius: 5px; padding: 40px 30px 30px 30px;">
        <tbody>
        <tr>
          <td style="font-weight: bold; padding-top:15px; padding-bottom: 15px; text-align: left; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc">
            {% if address %}
              {{ 'Your order #@number was successfully delivered.'|t({'@number': order_entity.id}) }}
            {% else %}
              {{ 'Your order #@number is complete.'|t({'@number': order_entity.id}) }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>
            {{ 'Delivery date: @date'|t({'@date': order_entity.getCompletedTime|date("m/d/Y")}) }}<br>
            {{ 'Delivery time: @time'|t({'@time': order_entity.getCompletedTime|date("H:i")}) }}
            {% if address %}
              <div style="padding-top:10px; padding-bottom: 10px; margin-top: 5px; margin-bottom: 5px; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc">
                <p style="margin-top: 0; font-weight: bold;">{{ 'Delivery address'|t }}</p>
                {% if address.getAddressLine1 %}
                  {{ address.getAddressLine1 }}<br>
                {% endif %}
                {% if address.getAddressLine2 %}
                  {{ address.getAddressLine2 }}<br>
                {% endif %}
                {% if address.getDependentLocality %}
                  {{ address.getDependentLocality }}<br>
                {% endif %}
                {% if address.getLocality %}
                  {{ address.getLocality }}<br>
                {% endif %}
                {% if address.getPostalCode %}
                  {{ address.getPostalCode }}<br>
                {% endif %}
                {% if address.getCompletedTime %}
                  {{ address.getCompletedTime }}<br>
                {% endif %}
              </div>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>
            {{ 'Regards'|t }}<br>
            {{ 'Palette de Fleurs Floral design team'|t }}
          </td>
        </tr>
        <tr>
          <td>
            {{ 'For queries, call 021 4218258'|t }}
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
